

#topSellerSection {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

#topSellerContainer {
 display: flex;
 justify-content: center;
}

.topSellerCard {
 display: flex;
 flex-direction: column;
}

.imgContainer > img {
  height: 200px;
  width: 200px;
}
