// ============================
// COLORS
// ============================
$bg-soft-beige: #fff7f0;
$color-text-main: #2135478d;
$color-accent: #ffd27f;
$color-header-bg: #0e161d;
$color-nav-bg: #0e161dec;
$color-button-accent: #ffb84d;


main {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;

    .contact-bg-image {
        display: none;
    }

    #contactSection {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 1fr;
        height: 100%;
        gap: 5px;
        padding-top: 5%;

        #text-container {
            width: 350px;
        }

        h2 {
            text-align: center;
            color: $color-nav-bg;
            margin: 10px 0px;
        }

        h4 {
            text-align: center;
            font-weight: 500;
            line-height: 1.4;
            margin-bottom: 14px;
            color: #555;
        }

        form {
            display: flex;
            flex-direction: column;
            gap:20px;
            margin: 20px 0px;
            width: 350px;
            padding: 20px;
            border-radius: 15px;
            background: #ffffff;
            border: 1px solid #ebdfd0;
            box-shadow: 0 8px 18px rgba(0, 0, 0, 0.04);

            .contact-form {
                height: 30px;
                /* border: 1px solid $color-text-main; */
                border-radius: 5px;
                padding-left: 10px;
                outline: none;
                background: #ffffff;
                border: 1px solid #ebdfd0;
                box-shadow: 0 8px 18px rgba(0, 0, 0, 0.04);
            }

            #message-box {
                height:100px;
                padding-top: 10px;
                padding-left: 10px;
                border-radius: 5px;
                background: #ffffff;
                border: 1px solid #ebdfd0;
                box-shadow: 0 8px 18px rgba(0, 0, 0, 0.04);
                
            }

            button {
                background-color: #ffb84d;
                width: 80px;
                align-self: center;
                border: 0;
                border-radius: 15px;
                box-shadow: 0 8px 18px rgba(0, 0, 0, 0.04);
                padding: 4px 0px;
                font-weight: bold;
                color: $color-header-bg;
            }
        }
    }
}
@media (min-width: 750px) {

     main {
        justify-content: space-between;

        .contact-bg-image {
            object-fit: cover;
            display: block;
            height: 90dvh;

        }

        #contactSection {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 600px;
            height: 100%;
            gap: 3px;
            padding-top: 0;
            padding-left: 15%;
            z-index:1;
        }
    }

}

