main {
    display: flex;
    flex-direction: column;
    align-items: center;

    #contactSection {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        max-width: 30rem;
        height: 50vh;
        gap: 10px;
        margin: 20px;

        h2 {
            margin: 0px;
        }

        form {
            display: flex;
            flex-direction: column;
            gap:20px;
            margin-top: 20px;
            width: 350px;

            .contact-form {
                height: 30px;
                border: 1px solid black;
                border-radius: 5px;
                padding-left: 10px;
                outline: none;
            }

            #message-box {
                height:100px;
                padding-top: 10px;
                padding-left: 10px;
                border-radius: 5px;
                border: 1px solid black;
                
            }
        }
    }

}
